---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import { Image } from 'astro:assets';
import ConnectVerse from "../assets/logo/ConnectVerse.png";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <p class="mt-8"></p>
               <H1> Get to know 0xGrow </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    <!-- <a href="https://0xGrow.xyz" target="_blank" class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200">
                         0xGrow
                    </a> -->
                    0xGrow is a ConnectVerse initiative.
               </p>
          </div>

          <div class="space-y-2 text-base sm:text-lg">
               <div class="flex align-center text-zinc-400">A <Image src={ConnectVerse} style="width: 10%;" alt="ConnectVerse"/> initiative</div>

               <p class="mt-8"></p>
               <h2 class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500">Our Initiatives</h2>

               <ul class="px-4 text-zinc-400 list-disc list-outside">
                    <li>0xAcademy</li>
                    <li>0xGrow</li>
               </ul>
          </div>
     </div>
</InfoLayout>
